<html>
    <% include('../partials/header');%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>

    <head>
        <style>
            /* Input Field CSS*/
            h1 {
                font-size: 28px;
                margin-bottom: 2.5%;
            }

            input,
            span,
            label,
            textarea {
                font-family: 'Ubuntu', sans-serif;
                display: block;
                margin: 10px;
                padding: 5px;
                border: none;
                font-size: 22px;
            }

            textarea:focus,
            input:focus {
                outline: 0;
            }
            /* Question */

            input.question,
            textarea.question {
                font-size: 48px;
                font-weight: 300;
                border-radius: 2px;
                margin: 0;
                border: none;
                width: 80%;
                background: rgba(0, 0, 0, 0);
                transition: padding-top 0.2s ease, margin-top 0.2s ease;
                overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
            }
            /* Underline and Placeholder */

            input.question + label,
            textarea.question + label {
                display: block;
                position: relative;
                white-space: nowrap;
                padding: 0;
                margin: 0;
                width: 10%;
                border-top: 1px solid red;
                -webkit-transition: width 0.4s ease;
                transition: width 0.4s ease;
                height: 0px;
            }

            input.question:focus + label,
            textarea.question:focus + label {
                width: 50%;
            }

            input.question:focus,
            input.question:valid {
                padding-top: 35px;
            }

            textarea.question:valid,
            textarea.question:focus {
                margin-top: 35px;
            }

            input.question:focus + label > span,
            input.question:valid + label > span {
                top: -100px;
                font-size: 22px;
                color: #333;
            }

            textarea.question:focus + label > span,
            textarea.question:valid + label > span {
                top: -150px;
                font-size: 22px;
                color: #333;
            }

            input.question:valid + label,
            textarea.question:valid + label {
                border-color: green;
            }

            input.question:invalid,
            textarea.question:invalid {
                box-shadow: none;
            }

            input.question + label > span,
            textarea.question + label > span {
                font-weight: 300;
                margin: 0;
                position: absolute;
                color: #8F8F8F;
                font-size: 48px;
                top: -66px;
                left: 0px;
                z-index: -1;
                -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
                transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
            }

            input[type="submit"] {
                -webkit-transition: opacity 0.2s ease, background 0.2s ease;
                transition: opacity 0.2s ease, background 0.2s ease;
                display: block;
                opacity: 0;
                margin: 10px 0 0 0;
                padding: 10px;
                cursor: pointer;
            }

            input[type="submit"]:hover {
                background: #EEE;
            }

            input[type="submit"]:active {
                background: #999;
            }

            input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
                -webkit-animation: appear 1s forwards;
                animation: appear 1s forwards;
            }

            input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
                display: none;
            }

            @-webkit-keyframes appear {
                100% {
                    opacity: 1;
                }
            }

            @keyframes appear {
                100% {
                    opacity: 1;
                }
            }

            /* Button CSS */
            body{
                background-color:#91CCC2;
            }
            .container{
                width:250px;
                height:100px;
                margin: 10% auto;
                color:white;
                font-size:1rem;
                font-family:Arial,Helvetica Neue,Helvetica,sans-serif;

            }
            p{
                text-align:center;
            }
            .button{
                color: #D3D3D3;
                font-size:1.5rem;
                border:2px solid white;
                border-radius:100px;
                width:100px;
                height:40px;
                padding:5px;
                margin: 5% auto 0% auto;
                transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            }

              .button:hover{
                  width:150px;
                  background-color: white;
                  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
                  color: #91CCC2;
                  transition:.3s;
              }

            .button:active{
                box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
                transition: .05s
            }
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/346759275789549591/738036316691759154/png-transparent-top-hat-moustache-drawing-party-hat-hat-top-hat-logo-thumbnail.png"/>

        <meta content="Lepton Weather" property="og:title">

        <meta content="A simple webpage to get your morning weather!" property="og:description">

        <meta content="Creator : Josh Wells" property="og:site_name">

        <meta content='https://cdn.discordapp.com/attachments/346759275789549591/738022782302027836/Untitled.png' property='og:image'>
        <title>Lepton Weather</title>
    </head>
    <body>
        <div class="container" style="width:50vw;">
            <h1>Welcome to Lepton Weather!</h1>
            <form action="results" method="post" style="width:50vw;">
                <input type="text" name="location" class="question" id="nme" required autocomplete="off" />
                <label for="nme"><span>What location for today?</span></label>
                <button type="submit" id="submit" class="button">Submit</button>
            </form>
            <% if (temp) { %>
                <div style="background: rgba(0, 0, 0, 0.2); padding:1vw;border-radius: 20px;">

                    <h1 style="font-size:1.5vw;"> <%- location %><br> <%- observationtime %></h1>
                    <h1 style="font-size:4vw;margin-top:0;"><img width="65" height="55" style=" margin-right:1vh;" src="<%- cloudy_image %>"><%- temp %> °C</h1>
                    <canvas width="40" height="15" id="myChart"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ['<%- forecast_days[0]%>', '<%- forecast_days[1]%>', '<%- forecast_days[2]%>', '<%- forecast_days[3]%>', '<%- forecast_days[4]%>'],
                                datasets: [{
                                    label: 'Daily High',
                                    data: [<%- forecast_high[0]%>, <%- forecast_high[1]%>, <%- forecast_high[2]%>, <%- forecast_high[3]%>, <%- forecast_high[4]%>],
                                    backgroundColor: "rgba(153,255,51,0.3)",
                                    datalabels: {
                                        color: 'yellow'
                                    }
                                },
                                {
                                    label: 'Daily Low',
                                    data: [<%- forecast_low[0]%>, <%- forecast_low[1]%>, <%- forecast_low[2]%>, <%- forecast_low[3]%>, <%- forecast_low[4]%>],
                                    backgroundColor: "rgba(35,167,154,0.3)"
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Weekly Forecast'
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            <% } %>
        </div>


    </body>
</html>